body 
{
	background-color: #ffd9ed;
}

h1
{
	color: white;
    text-shadow: 2px 2px #ff0000;
    font-family: 'Odibee Sans', cursive;
}

h3
{
    font-family: 'Odibee Sans', cursive;

}

body
{
    font-family: 'Lato', sans-serif;
}

li
{
    display: inline-block;
    
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px #ff0000;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}

.nav
{
    width: auto;
    background: none;
    margin: 0px;
    padding: 0px;
    font-size: 23px;
}

.chara
{
    width: 10%;
}

#homeBanner
{
    display: block;
    /*margin-left: auto;
    margin-right: auto; */
    width: 100%;
}

#title
{
    font-size: 64px;
    text-align: center;
}

#contact_top
{
    position: relative;
    left: 15em;
}

#contact_bottom
{
    position: relative;
    left: 3em;
}

.person_top, .person_bottom
{
    display: table-cell; 
    text-align: justify;
}

.person_top
{
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
}

.person_bottom
{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact_icons
{
	font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

.contact_icons a
{
    color: white;
}

.contact_icons a:active
{
    position: relative;
    top: 2px;
}