body 
{
	background-color: #ffd9ed;
    text-align: center;
}

h1
{
	color: white;
    text-shadow: 2px 2px #ff0000;
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}

h3
{
    font-family: 'Odibee Sans', cursive;

}

body
{
    font-family: 'Lato', sans-serif;
}

li
{
    display: inline-block;
    
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px #ff0000;
}

h1 a
{
    background-color: hsl(0, 100%, 50%, .2);
    color: white;
    border: hsl(0, 100%, 50%, .2);
    border-radius: 25px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}

h1 a:hover 
{
    text-decoration: underline;
}

video
{
    width: 65%;
    height: 35em;
    object-fit: cover;
    z-index: -100;
}

#download img
{
    height: 6em;
    width: 6em;
    padding: 1em;
}

.nav
{
    width: auto;
    background: none;
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    background-color: hsl(0, 100%, 50%, .2);
    text-align: center;
}

.nav li a:hover {
    background-color: hsl(0, 0%, 100%, .3);
}

.chara
{
    width: 25%;
}

#homeBanner
{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;

}

#title
{
    font-size: 64px;
    text-align: center;
}

.column1, .column2
{
    float: left;
    width: 50%;
    padding: 3em;
}   

.column1
{
    background-image: url("UntitledJaneGame_Banner.png");
}

.column2
{
    background-color: hsl(0, 0%, 100%, .3);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#contact_top
{
    position: relative;
    left: 20em;
}

#contact_bottom
{
    position: relative;
    left: 7em;
}

.person_top, .person_bottom
{
    display: table-cell; 
    text-align: justify;
}

.person_top
{
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
}

.person_bottom
{
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.contact_icons
{
	font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px #ff0000;
}

.contact_icons a
{
    color: white;
    text-decoration: none;
}

.contact_icons a:active, h1 a:active
{
    position: relative;
    top: 2px;
}